body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #e3f2fd, #bbdefb);
}

/* CENTER */
.center {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #1e3c72, #2a5298);
}

/* CARD */
.card {
    background: white;
    padding: 30px;
    border-radius: 12px;
    width: 320px;
    margin: auto;   /* THIS centers it */
    text-align: center;
}

/* LOGO */
.logo {
    width: 80px;
    display: block;
    margin: auto;
}

.logo-small {
    width: 40px;
}

/* TOPBAR */
.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: linear-gradient(90deg, #1e3c72, #2a5298);
    color: white;
}

/* INPUTS */
input, select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 6px;
    border: 1px solid #ccc;
}

/* BUTTON */
button {
    padding: 10px 20px;
    background: #2a5298;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 6px;
}

/* ONLY full width where needed */
.full-btn {
    width: 100%;
}

/* HIDE */
.hidden {
    display: none;
}

/* ERROR */
.error {
    color: red;
}

button:hover {
    background: #1e3c72;
}